<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceOverblik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServiceOverblik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.servicebaseConnectionString"
      connectionString="User Id=jj;password=buDs7Cs!;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;database=servicebase"
      providerName="MySql.Data.MySqlClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=jj;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;database=servicebase;password=buDs7Cs!&quot;"
      providerName="System.Data.EntityClient" />
    <add name="servicebaseEntities" connectionString="metadata=res://*/ServiceDB.csdl|res://*/ServiceDB.ssdl|res://*/ServiceDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=jj;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;database=servicebase;password=buDs7Cs!&quot;"
      providerName="System.Data.EntityClient" />
    <add name="lagermanEntities" connectionString="metadata=res://*/LagerDB.csdl|res://*/LagerDB.ssdl|res://*/LagerDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;user id=jj;password=buDs7Cs!;persist security info=True;database=lagerman&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ServiceOverblik.Properties.Settings.servicebaseConnectionString"
      connectionString="User Id=jj;password=buDs7Cs!;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;database=servicebase"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ServiceOverblik.Properties.Settings>
      <setting name="InverterProdGrp" serializeAs="String">
        <value>100200</value>
      </setting>
      <setting name="excelStartRow" serializeAs="String">
        <value>4</value>
      </setting>
    </ServiceOverblik.Properties.Settings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="InverterProdGrp" serializeAs="String">
        <value>100200</value>
      </setting>
      <setting name="excelStartRow" serializeAs="String">
        <value>4</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <ServiceOverblik.Properties.Settings>
      <setting name="fakturaEmail" serializeAs="String">
        <value>st@solcellespecialisten.dk</value>
      </setting>
      <setting name="fraEmail" serializeAs="String">
        <value>support@solcellespecialisten.dk</value>
      </setting>
      <setting name="isMailTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="smptServer" serializeAs="String">
        <value>mail.netconn.dk </value>
      </setting>
      <setting name="smtpPort" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="smptUser" serializeAs="String">
        <value>jj@netconn.dk</value>
      </setting>
      <setting name="smtpPass" serializeAs="String">
        <value>buDs76Cs!</value>
      </setting>
      <setting name="smtpSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="salesTax" serializeAs="String">
        <value>1.25</value>
      </setting>
      <setting name="supportEmail" serializeAs="String">
        <value>support@solcellespecialisten.dk</value>
      </setting>
      <setting name="specialPriceCalc" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="logoPath" serializeAs="String">
        <value>images\logo.png</value>
      </setting>
      <setting name="supportPhone" serializeAs="String">
        <value>+45 2043 9925</value>
      </setting>
      <setting name="pdfSavePath" serializeAs="String">
        <value>tmp\</value>
      </setting>
      <setting name="eventlogSource" serializeAs="String">
        <value>ServiceOverblik</value>
      </setting>
      <setting name="eventlog" serializeAs="String">
        <value>Application</value>
      </setting>
    </ServiceOverblik.Properties.Settings>
  </userSettings>
</configuration>
